<h2 class="text-color my-4"><strong>Perguntas do momento</strong></h2>
<h2></h2>
<div class="sticky-top content-sticky">
    <div class="container-fluid seach-div p-4 d-flex justify-content-center">
    <div class="search-form ps-2">
        <form action="/" method="get">
           <i class="bi bi-search"></i>
           <input type="text" class="p-2 pe-5" name="search" placeholder="Estou procurando por...">
           <input type="submit" class="p-2 px-4" value="Pesquisar">
        </form>
    </div>
    </div>
    <div class=" div-order container-fluid p-3 b order-div d-flex justify-content-center mb-5">
        <span>Ordenar por:</span>
        <form action="/" method="get">
            <input type="hidden" name="order" value="new">
            <button type="submit" class="order-input">
                <i class="bi bi-arrow-up"></i>
                Mais recentes
            </button>
            
        </form>
        <form action="/" method="get">
            <input type="hidden" name="order" value="old">
            <button type="submit" class="order-input">
                <i class="bi bi-arrow-down"></i>
                Mais antigo
            </button>
    
        </form>
        <a href="/" class="text-color" >Limpar</a>
    </div>
</div>
{{#if checkIfThereIsntQuestion}}
    <div class="container-sm p-3 text-center">
        <h3 class="text-color">Não há perguntas no momento</h3>
    </div>
{{/if}}

<div class="conteiner-fluid home-content-area d-flex flex-wrap justify-content-center align-itemns-center">
    {{#each questions}}
        <div class="home-content flex-1 p-4 mb-5 mx-2">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center align-items-center">
                <img src="/assets/user_img.svg" width="40" alt="">
                <span class="ms-2 me-4"><strong>{{this.User.name}}</strong></span>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <span class="me-3">{{this.timeago}}</span>
                <span class="me-1 text-color">{{this.like}}</span>
                <form action="/like" method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button class="like" type="submit">
                        <i class="bi bi-heart like"></i>
                    </button>
                </form>
              </div>
  
            </div>
            <div class="p-3">
                <p>
                    {{this.title}}
                </p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    Respostas: <span class="text-color">{{this.answerQty}}</span>
                </div>
                <div class="ps-4">
                    <a href="/pergunta/{{this.id}}" class="link-comment">
                        Ver respostas
                    </a>
                    <a href="/pergunta/{{this.id}}" class="btn-comment ms-3 p-1 px-2">
                        Responder
                    </a>
                </div>
            </div>
        </div>
    {{/each}}


</div>