
<div class="all-content-question mx-auto">
    <h2 class="text-color my-4"><strong>Minha pergunta</strong></h2>
    <div class="div-myquestion p-4 mb-4">
        <div class="d-flex align-items-center justify-content-between" >

            <div class="d-flex align-items-center">
                <img src="/assets/user_img.svg" width="50" class="me-2" alt="">
                <span class="h4">{{userName}}</span>
            </div>

            <div class="d-flex align-items-center">
                <span class="me-3">{{question.timeago}}</span>
                <span class="me-1">{{question.like}}</span>
                <i class="bi bi-heart like"></i>
            </div>

        </div>

        <div class="p-3 d-flex mt-3 myquestion">
            <form class="d-flex flex-column w-100" action="/atualizar-pergunta" method="post">
                <textarea name="title" required >{{question.title}}</textarea>
                <input type="hidden" name="id" value="{{question.id}}">
                <input class="align-self-end btn-comment p-1 px-3" type="submit" value="Salvar">
            </form>
        </div>
        <div class="px-3 mt-3">
            <form class="d-flex justify-content-end" action="/deletar-pergunta" method="post">
                <input type="hidden" name="id" value="{{question.id}}">
                <input class="delete-question p-1 px-3" type="submit" value="Excluir">
            </form>
        </div>
    </div>
</div>


<div class="answers-div mx-auto pb-4 mb-4" id="#respostas">
    <h6 class="px-3 py-2" style="color: #F9FBF2;">Respostas</h6>
    {{#each answers}}
    <div class="answer p-4">
        <div class="d-flex align-items-center justify-content-between" >

            <div class="d-flex align-items-center">
                <img src="/assets/user_img.svg" width="50" class="me-2" alt="">
                <span class="h4">{{this.User.name}}</span>
            </div>

            <div class="d-flex align-items-center">
                <span class="me-3">{{this.timeago}}</span>
                <span class="me-1">{{this.like}}</span>
                <form action="/resposta-like" method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button class="like" type="submit">
                        <i class="bi bi-heart"></i>
                    </button>
                </form>

            </div>

        </div>

        <div class="p-3">
            <p>{{this.title}}</p>
        </div>
    </div>
    {{/each}}

</div>